$raisin-black: #212738;
$bittersweet: #f97068;
$pear: #d1d646;
$anti-flash-white: #edf2ef;
$vivid-sky-blue: #57c4e5;

$silver: #CEBEBE;
$bone: #ece2d0;
$pale-dogwood: #d5b9b2;
$rose-taupe: #a26769;
$wine: #6d2e46;