<div id="page-container" appColorPalette backgroundColorIndex="3" colorIndex="0">
    <div class="left-arrow">
        <button #leftArrow class="icon-button left-btn" (click)="switchBook(false)" aria-label="Go to previous Book"><i class="fa fa-chevron-left" appColorPalette colorIndex="0"
            [style.transition]="'filter 0.5s, color 3s'"></i></button>
    </div>
    <div class="spinner-overlay middle-grid" [appHidden]="!imageLoading" transitionTime="0.05"><i class="fa fa-spinner"></i></div>
    <app-book-display #bookDisplay1 class="middle-grid" [class.hidden]="!isPrimaryDisplayActive" (onCoverImageLoad)="onImageLoad()"></app-book-display>
    <app-book-display #bookDisplay2 class="middle-grid" [class.hidden]="isPrimaryDisplayActive" (onCoverImageLoad)="onImageLoad()"></app-book-display>
    <div class="right-arrow">
        <button #rightArrow class="icon-button right-btn" (click)="switchBook(true)" aria-label="Go to next Book"><i class="fa fa-chevron-right" appColorPalette colorIndex="0" [style.transition]="'filter 0.5s, color 3s'"></i></button>
    </div>
</div>
