:host {
    display: block;
}

app-shelf {
    margin-block: 0.5rem;
}

.outer-case {
    background-color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}